[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
aiohttp-jinja2 = "*"
soco = "*"
aiofiles = "*"
typing-extensions = "*"
aiohttp-sse = "*"
pypubsub = "*"
cryptography = "*"
aiopubsub = "*"
msal = "*"
requests-oauthlib = "*"
python-dateutil = "*"
pytz = "*"
aioftp = "*"
opencv-python-headless = "*"
aiohttp = "==3.8.1"
paho-mqtt = "*"
asyncio-mqtt = "*"
gmqtt = "*"
uvloop = "*"
aiologger = "*"
ics = "*"
nest-asyncio = "*"
arrow = "*"

[dev-packages]

[requires]
python_version = "3.9"
