[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.8.1"
jinja2 = "*"
aiohttp-jinja2 = "*"
soco = "*"
aiofiles = "*"
typing-extensions = "*"
aiohttp-sse = "*"
pypubsub = "*"
cryptography = "*"
aiopubsub = "*"
msal = "*"
requests-oauthlib = "*"
python-dateutil = "*"
pytz = "*"
aioftp = "*"

[dev-packages]

[requires]
python_version = "3.8"
