<!DOCTYPE html>
<meta charset="utf-8"/>
<html>
<head>
    <title>::test widget::</title>
    <link rel="icon" type="image/png" sizes="16x16"  href="/static/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="stylesheet" href="/static/css/base.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-yJpxAFV0Ip/w63YkZfDWDTU6re/Oc3ZiVqMa97pi8uPt92y0wzeK3UFM2yQRhEom" crossorigin="anonymous">
</head>
<body>
    <div class="widget" id="widget" data-widget="sonos" data-channel="Kitchen"></div>
    <script src="/static/js/widgets.js"></script>
</body>
</html>