<!DOCTYPE html>
<meta charset="utf-8"/>
<html>
<head>
    <title>::testing base widget::</title>
    <link rel="icon" type="image/png" sizes="16x16"  href="/static/favicon-16x16.png">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body class="w3-text-white text-shadow">
    <div class="w3-black" style="position:absolute; width:100%; height:100%; left:0%; top:0%"></div>
    <div style="position:absolute; width:21%; height:21%; left:78%; top:2%">
        <div class="widget" data-widget="widget2" data-source-topic="data sources/counter/None" data-refresh-interval="30" id="base_widget">::base widget::</div>
    </div>
<script src="/static/js/widgets.js"></script>
</body>
</html>