<!DOCTYPE html>
<meta charset="utf-8"/>
<html>
<head>
    <title>::test widget::</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16"  href="/static/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/w3.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-yJpxAFV0Ip/w63YkZfDWDTU6re/Oc3ZiVqMa97pi8uPt92y0wzeK3UFM2yQRhEom" crossorigin="anonymous">
</head>
<body class="w3-text-white text-shadow">
<div class="" style="position:absolute; width:100%; height:100%; left:0%; top:0%">
<div style="position:absolute; width:100%; height:100%; left:0%; top:0%">
    <div class="widget" id="background" data-widget="google_photos" data-user="moochtm@hotmail.com" data-channel="2021 Christmas in Sweden" data-refresh-interval="60"></div>
</div>
    <div style="position:absolute; width:25%; height:40%; left:35%; top:2%">
        <div class="w3-round-large black-opacity-max" style="padding-bottom:8px">
    <a class="weatherwidget-io" href="https://forecast7.com/en/51d51n0d30/ealing/" data-label_1="EALING" data-label_2="WEATHER" data-font="Noto Sans" data-days="5" data-theme="original" data-basecolor="rgba(255, 255, 255, 0)" >EALING WEATHER</a>
    <script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
    </div></div>
<div style="position:absolute; width:98%; height: 50%; left:1%; top:45%">
    <div class="widget" id="widget" style="height:100%"
         data-widget="calendar" data-template="agenda_5_days"
         data-provider="microsoft" data-user="matt.barr@live.co.uk" data-name="Family" data-color="#f44336"
         data-provider-2="microsoft" data-user-2="matt.barr@live.co.uk" data-name-2="Family Regular" data-color-2="#4CAF50"
         data-provider-3="microsoft" data-user-3="matt.barr@live.co.uk" data-name-3="Rondo Music" data-color-3="#4CAF50">

    </div>
</div>

    <div style="position:absolute; width:30%; left:2%; top:4%">
        <div class="widget" id="clock" data-widget="clock"></div>
    </div>
    <div>
        <div style="position:absolute; width:15%; left:84%">
                <div class="widget" data-channel="Kitchen" data-widget="sonos" id="sonos1">::sonos widget::</div>
        </div>
        <!--<div style="position:absolute; width:15%; left:55%;">
                  <div class="widget" data-channel="Front Room" data-widget="sonos" id="sonos2">::sonos widget::</div>
          </div>
          <div style="position:absolute; width:15%; left:70%;">
                  <div class="widget" data-channel="Living Room" data-widget="sonos" id="sonos3">::sonos widget::</div>
          </div>
          <div style="position:absolute; width:15%; left:85%;">
                  <div class="widget" data-channel="TV" data-widget="sonos" id="sonos4">::sonos widget::</div>
          </div>
      </div>-->
    <script src="/static/js/widgets.js"></script>
</body>
</html>