<!DOCTYPE html>
<meta charset="utf-8"/>
<html>
<head>
    <title>::test widget::</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16"  href="/static/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/w3.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@2.3.2/build/global/luxon.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-yJpxAFV0Ip/w63YkZfDWDTU6re/Oc3ZiVqMa97pi8uPt92y0wzeK3UFM2yQRhEom" crossorigin="anonymous">
</head>
<body class="w3-text-white text-shadow" onload=display_ct();>
    <div class="w3-black" style="position:absolute; width:100%; height:100%; left:0%; top:0%"></div>

    <div style="position:absolute; width:98%; height: 50%; left:1%; top:45%">
        <div class="widget" id="calendar" style="height:100%"
             data-widget="calendar" data-template="agenda_5_days" data-timezone=""
             data-provider="microsoft" data-user="matt.barr@live.co.uk" data-name="Family" data-color="#f44336"
             <!--data-provider-2="microsoft" data-user-2="matt.barr@live.co.uk" data-name-2="Family Regular" data-color-2="#4CAF50"-->
             data-provider-3="microsoft" data-user-3="matt.barr@live.co.uk" data-name-3="Rondo Music" data-color-3="#4CAF50"
             data-provider-4="microsoft" data-user-4="matt.barr@live.co.uk" data-name-4="Scouts" data-color-4="#3CB371">
        </div>
        <script>
            var elementVar = document.getElementById("calendar");
            tz_offset = luxon.DateTime.now().offset
            elementVar.setAttribute("data-timezone-offset", tz_offset);
        </script>
    </div>

    <script src="/static/js/widgets.js"></script>
    <script type="text/javascript">
    const weekdays = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
    const months = ["January","February","March","April","May","June","July","August","September","October","November","December"];
    function display_ct() {
        const d = new Date();
        hours = d.getHours( );
        hours=hours.toString().length==1? 0+hours.toString() : hours;

        var minutes=d.getMinutes().toString()
        minutes=minutes.length==1 ? 0+minutes : minutes;

        let day = weekdays[d.getDay()];
        let month = months[d.getMonth()];

        var dt=d.getDate().toString();
        dt=dt.length==1 ? 0+dt : dt;

        time = hours + ":" +  minutes;
        date = day + ", " + dt + " " + month

        document.getElementById('time').innerHTML = time;
        document.getElementById('date').innerHTML = date;
        display_c();
    }
    function display_c(){
        var refresh=1000; // Refresh rate in milli seconds
        mytime=setTimeout('display_ct()',refresh)
    }
    display_c()
</script>
</body>
</html>