<!DOCTYPE html>
<meta charset="utf-8"/>
<html>
<head>
    <title>Ambleboard</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16"  href="/static/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/w3.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@2.3.2/build/global/luxon.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-yJpxAFV0Ip/w63YkZfDWDTU6re/Oc3ZiVqMa97pi8uPt92y0wzeK3UFM2yQRhEom" crossorigin="anonymous">
</head>
<body style="">
<div>
    <div style="position:absolute; width:20%; height:20%; left:20%">
            <div class="widget" data-source-topic="data sources/sonos/Kitchen" data-widget="sonos2" id="sonos1">::sonos widget::</div>
    </div>
    <div style="position:absolute; width:20%; left:40%;">
        <div class="block">
            <div class="widget" data-source-topic="data sources/sonos/Front Room" data-widget="sonos2" id="sonos2">::sonos widget::</div>
        </div>
    </div>
    <div style="position:absolute; width:20%; left:60%;">
        <div class="block">
            <div class="widget" data-source-topic="data sources/sonos/Garden" data-widget="sonos2" id="sonos3">::sonos widget::</div>
        </div>
    </div>
    <div style="position:absolute; width:20%; left:80%;">
        <div class="block">
            <div class="widget" data-source-topic="data sources/sonos/TV" data-widget="sonos2" id="sonos4">::sonos widget::</div>
        </div>
    </div>
    <script src="/static/js/widgets.js"></script>
</div>
</body>
</html>