<!DOCTYPE html>
<meta charset="utf-8"/>
<html>
<head>
    <title>::all sonos dashboard::</title>
    <link href="/static/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <meta content="#ffffff" name="msapplication-TileColor">
    <meta content="#ffffff" name="theme-color">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="/static/css/base.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">></script>
    <link crossorigin="anonymous" href="https://pro.fontawesome.com/releases/v5.15.2/css/all.css"
          integrity="sha384-yJpxAFV0Ip/w63YkZfDWDTU6re/Oc3ZiVqMa97pi8uPt92y0wzeK3UFM2yQRhEom" rel="stylesheet">
</head>
<body style="">
<div>
    <div style="position:absolute; width:20%; left:20%">
        <div class="block">
            <div class="widget" data-channel="Kitchen" data-widget="sonos" id="sonos1">::sonos widget::</div>
        </div>
    </div>
    <div style="position:absolute; width:20%; left:40%;">
        <div class="block">
            <div class="widget" data-channel="Front Room" data-widget="sonos" id="sonos2">::sonos widget::</div>
        </div>
    </div>
    <div style="position:absolute; width:20%; left:60%;">
        <div class="block">
            <div class="widget" data-channel="Living Room" data-widget="sonos" id="sonos3">::sonos widget::</div>
        </div>
    </div>
    <div style="position:absolute; width:20%; left:80%;">
        <div class="block">
            <div class="widget" data-channel="TV" data-widget="sonos" id="sonos4">::sonos widget::</div>
        </div>
    </div>
    <script src="/static/js/widgets.js"></script>
</div>
</body>
</html>