<!DOCTYPE html>
<meta charset="utf-8"/>
<html>
<head>
    <title>::sonos widget::</title>
    <link rel="icon" type="image/png" sizes="16x16"  href="/static/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="stylesheet" href="/static/css/base.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-yJpxAFV0Ip/w63YkZfDWDTU6re/Oc3ZiVqMa97pi8uPt92y0wzeK3UFM2yQRhEom" crossorigin="anonymous">
</head>
<div class="widget" id="counter" data-widget="test"></div>

    <!--<div class="block" style="position:absolute; top:1vh; width: 20vw; left:1vw">
    <div class="widget" id="counter" data-widget="counter"></div>
    <img src="/static/test.jpg"></img>
    <div class="widget" id="sonos1" data-widget="sonos" data-sonos-name="Kitchen">::sonos widget::</div>

        </div>
        <div class="widget" id="counter" data-widget="counter"></div>
        <div class="block" style="position:absolute; top:1vh; width: 20vw; left:24vw">
            <div class="widget" id="sonos2" data-widget="sonos" data-sonos-name="Living Room">::sonos widget::</div>
        </div>
        <div class="block" style="position:absolute; top:1vh; width: 40vw; left:50vw">
            <div class="widget" id="clock" data-widget="clock">::clock widget::</div>
        </div>-->
    <script src="/static/js/widgets.js"></script>
</body>
</html>