<!--
context = {
    "title": title,
    "artist": artist,
    "album": album,
    "img_src": img_src,
    "volume": 0
}
-->

<style>
    .artwork {
        max-width: 100%;
        border-radius: .3em;
        box-shadow: 2px 2px 0px rgba(0,0,0,.3);
    }
    .icon {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%,-50%);
        opacity: 0.8;
    }
    .title {
        margin-top: 0.3em;
        font-weight: 600;
    }
    .artist {
        margin-top: 0.3em;
        opacity: 0.5;
    }
</style>
<div style="position: relative">
    <img class="artwork" src="{{img_src | image_proxy}}">
    {% if transport != "PLAYING" %}
    <i class="fas fa-pause fa-5x icon"></i>
    {% elif volume == 0 %}
    <i class="fas fa-volume-mute fa-5x icon"></i>
    {% endif%}
</div>
<div class="title">{{title}}</div>
<div class="artist">{{artist}} ● {{album}}</div>

