<style>
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.fade-in {
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
  -o-animation: fadeIn 4s;
  -ms-animation: fadeIn 4s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  10% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  10% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  10% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  10% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  10% {opacity:0;}
  100% {opacity:1;}
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.3);
  box-shadow: 0 0 8em rgba(0,0,0,1) inset;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: #f00;
  width: 100%;
}

</style>
<div>{{msg}}</div>
{% if current_item is defined %}
<img id="preload_image" class="bg vignette" src="{{preload_item | image_proxy}}">
<img id="current_image" class="bg vignette" src="{{current_item | image_proxy}}">
<img id="next_image" class="fade-in bg vignette" src="{{next_item | image_proxy}}">

<script>
function update_img_src(img){
    width = window.screen.width * window.devicePixelRatio
    height = window.screen.height * window.devicePixelRatio
    img.src = img.src + "&w=" + width + "&h=" + height;
    }
update_img_src(document.getElementById("preload_image"));
update_img_src(document.getElementById("current_image"));
update_img_src(document.getElementById("next_image"));
</script>

<div class="vignette"></div>

<div class="w3-bottom w3-cell-row black-opacity-max">
    <div class="w3-container w3-cell w3-padding-small"><i class="fas fa-images" style="margin-right: 8px;"></i></div>
    <div class="w3-container w3-cell w3-right-align w3-padding-small"><i class="fas fa-calendar-alt" style="margin-right: 8px;"></i></div>
</div>

{% endif %}