<!--
context = {
    "title": title,
    "artist": artist,
    "album": album,
    "img_src": img_src,
    "volume": 0
}
-->

<style>
    /*.artwork {
        width: 100%;
        max-width: 100%;
        border-radius: .3em;
        box-shadow: 2px 2px 0px rgba(0,0,0,.3);
    }
    .icon {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%,-50%);
        opacity: 0.8;
    }
    .title {
        margin-top: 0.3em;
        font-weight: 600;
    }
    .artist {
        margin-top: 0.3em;
        opacity: 0.5;
    }*/

</style>
<div class="w3-container w3-margin w3-padding-16 w3-round-large black-opacity-max">
    <div>{{device_info.player_name}}</div>
{% if av_transport.current_track_exists %}
    <div class="">
        <img class="w3-border w3-opacity-off" style="width:100%" src="{{av_transport.current_track_meta_data.album_art_uri | image_proxy}}">
        {% if av_transport.next_track_exists %}
        {% if av_transport.next_track_meta_data.album_art_uri != "" %}
        <img class="w3-hide" src="{{av_transport.next_track_meta_data.album_art_uri | image_proxy}}">
        {% endif %}
        {% endif %}
        {% if av_transport.transport_state != "PLAYING" %}
        <!--<i class="fas fa-pause fa-3x icon"></i>-->
        {% elif rendering_control.volume is defined and rendering_control.volume.Master == '0' %}
        <!--<i class="fas fa-volume-mute fa-3x icon"></i>-->
        {% endif %}
    </div>
<div style="font-weight: 600">

    <div><p><i class="fas fa-music" style="margin-right: 8px;"></i>{{av_transport.current_track_meta_data.title}}</p></div>
    <div>{{av_transport.current_track_meta_data.stream_content}}</div>
</div>
    {% if av_transport.current_track_meta_data.radio_show != "" %}
    <div><i class="fas fa-radio" style="margin-right: 8px;"></i>{{av_transport.current_track_meta_data.radio_show}}</div>
    {% endif %}
    {% if av_transport.current_track_meta_data.creator != "" %}
    <div><i class="fas fa-user" style="margin-right: 8px;"></i>{{av_transport.current_track_meta_data.creator}}</div>
    {% endif %}
    {% if av_transport.current_track_meta_data.album != "" %}
    <div><i class="fas fa-compact-disc" style="margin-right: 8px;"></i>{{av_transport.current_track_meta_data.album}}</div>
    {% endif %}
{% else %}
Nothing playing right now.
{% endif %}
</div>