<div class="w3-container w3-round-large black-opacity-max w3-padding">
    <div>{{msg}}</div>
    <div class="w3-cell-row">
        {% if current is defined %}
        <div class="w3-cell" style="vertical-align:middle">
            <div style="font-size:3vw">{{current.temp_c}}°<img src="https:{{current.condition.icon}}"></div>
            <div>{{current.condition.text}}</div>
            <div>Feels like {{current.feelslike_c}}°</div>
        </div>
        {% endif %}
        <div class="w3-cell" style="vertical-align:middle; border-left:1px solid rgba(255,255,255,0.2)">
            <div class="w3-cell-row">
                {% if forecast is defined %}
                {% for day in forecast.forecastday %}
                <div class="w3-cell w3-center">
                    <div class="">{{day.date | convert_date_time('%Y-%m-%d', '%a')}}</div>
                    <div><img src="https:{{day.day.condition.icon}}"></div>
                        <div>{{day.day.maxtemp_c}}° - {{day.day.mintemp_c}}°</div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>